/*styles.css*/

body {
  background: rgba(0, 0, 0, 0.653) top left repeat;
  background-size: cover;
  color: #171a19;
}

#container {
  width: 450px;
  margin: 40px auto 0;
  padding: 50px;
  box-sizing: border-box;
  background: rgb(226, 246, 226);
  box-shadow: 0 0.5px 25px 0.5px #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
  text-align: center;
}

#dolarlbl {
  /* border-bottom: solid 1px #000; */
  text-decoration: 1px black;
  justify-content: center;
}

h1 {
  margin: 0 0 50px;
  padding: 0 0 0px;
  border-bottom: solid 1.3px rgb(7, 7, 7);
  border-bottom-width: 1px;
}

form {
  text-align: left;
}

form label {
  display: block;
  margin: 25px 0;
  font-weight: bold;
}

form input,
form select {
  padding: 8px;
  margin: 10px 0;
}

form input[type="text"] {
  width: 90px;
}

button {
  background: #85a4a279;
  border-bottom: solid 2px #222;
  font-size: 17px;
  padding: 20px 20px;
  width: 100%;
}

bottom:hover {
  background: #4c2827;
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 3px;
}

#impTotal {
  font-size: 25px;
}

#peso-amount {
  font-size: 23px;
  text-decoration: underline 1px;
}

.paragraphs-container {
  display: flex;
}

.left-paragraph {
  flex: 1;
}

.right-paragraph {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  #container {
    margin-top: 50%;
    margin-bottom: 50%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
